{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Dashboard">
    <meta name="author" content="{{author}}">
	<meta name="friend" content="{{friend}}">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'header.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
    <!-- bootstrap csss -->

    <title>
        {% block title %} Status page By {{author}} {% endblock %}
    </title>
</head>

<body>
    <header>
        {% include "dashboard/partials/header.html" %}
    </header>
    <content>
		<h2> Statistic </h2>
		 <h3 class="tab">
			<img  style="margin-left: 250px;border-radius:50%;"  src="http://pre00.deviantart.net/3d69/th/pre/i/2013/214/9/3/lion_of_judah_by_janmil000-d6gahv0.jpg" height="200" width="200"  style="vertical-align:middle">
			Stefan Mayer Sianturi
		</h3>
		<br/>
		<br/>
		
		<h4 style="text-align:left;margin-left: 300px;">
		 <img style = "margin-left:10px;" src = "https://cdn3.iconfinder.com/data/icons/blog-and-social-media-icons/512/Add_Friend-512.png" height="50" width = "50">
		 Friends: {{friend}} 
		<img style = "margin-left:300px;" src = "http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/matte-white-square-icons-social-media-logos/125777-matte-white-square-icon-social-media-logos-mail-square.png" height="50" width = "50")
		<span style="float:right;margin-right: 300px;"> 
		Feed: </span>
		</h4>
		<br/>
		
		<h4 style="margin-left:300px;"> Latest Post </h4>
		<h4 class="tab">
			<img  style="margin-left: 250px;"  src="http://pre00.deviantart.net/3d69/th/pre/i/2013/214/9/3/lion_of_judah_by_janmil000-d6gahv0.jpg" height="100" width="100"  style="vertical-align:middle">
			Stefan Mayer Sianturi
		</h4>
		
	</content>
    <footer>
        <!-- TODO Block Footer dan include footer.html -->
        {% block footer %}
        {% include "dashboard/partials/footer.html" %}
        {% endblock %}
    </footer>

    <!-- Jquery n Bootstrap Script -->
    <script type="text/javascript" src="header.js"></script>

</body>
</html>