{% extends "lab_5/layout/base.html" %}

{% block content %}
<h1 class="main-title">EDIT PROFILE</h1>
<hr/>
<section name="input-list" id="input-list">
    <div class="container">
        <form id="form" method="POST" action="{% url 'edit-profile:confirm-edit' %}">
            <h2>Input Todo</h2>
            {% csrf_token %}
			<span<input type="text" name="name" id="name" size="50"/>
            <input type="text" name="email" id="email" size="50"/>
            <input type="text" name="description" id="description" size="50"/>
            
			{% for value, text in form.Gender.field.choices %}
			<div class="ui slider checkbox">
			<input id="id_Gender_{{ forloop.counter0 }}" name="{{ form.Gender.name }}" type="radio" value="{{ value }}"{% if value in checked_providers %} checked="checked"{% endif %}>
			<label>{{ text }}</label>
			</div>
			{% endfor %}
			
			{% for value, text in form.Expertise.field.choices %}
			<div class="ui slider checkbox">
			<input id="id_Expertise_{{ forloop.counter0 }}" name="{{ form.Expertise.name }}" type="checkbox" value="{{ value }}"{% if value in checked_providers %} checked="checked"{% endif %}>
			<label>{{ text }}</label>
			</div>
			{% endfor %}
            
			<input type="date" name="date" id="date" required="required"/>
			<input type="text" name="pp" id="pp" size="25"/>
            <input id="submit" type="submit" class="btn btn-lg btn-block btn-info" value="Submit">
            <br>
        </form>
    </div>
</section>
{% endblock %}     
