<div class="navbar navbar-default navbar-static-top"role="navigation">
   <div class="container">
     <div class="navbar-header">
       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </button>
       <div class="small-logo-container">
         <a class="small-logo" href="/dashboard/" color=light-blue>Ling in</a>
	   </div>
     </div>
     <div class="navbar-collapse collapse">
	   <ul class="nav navbar-nav navbar-right">
        <li><a href="/updateStatus">Status</a></li>
        <li><a href="/profile/">Profile</a> </li>
        <li><a href="/friends/">Friends</a> </li>
        <li><a href="/stats/">Stats</a> </li>
        </ul>
     </div><!--/.nav-collapse -->
   </div>
 </div>
