img#profile{
	width:150px;
	height:150px;
	border-style:solid;
	border-width:1px;
	border-radius:50%;
}
tr td{
	padding: 8px;
}

span#expertise{
	border:1px;
	border-style:solid;
	border-radius : 80px;
	padding: 8px ;
}