<!DOCTYPE html>
<html>
<head>
  {% load staticfiles %}
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/tugas_addfriend.css' %}" />    
    
</head>

    <body style="font-family:monospace; background-color:#2B314C">
    <header>
    {% include "dashboard/partials/header.html" %}
  </header>
    <hr/>
    
    <section name="add_friend" id = "sec1">
      <div class = "container">
        <h2 class="list-friend-title"><b>Add Friend</b></h2>
        <form id="form" method="POST" action="{% url 'tugas_addfriend:add_friend' %}">
            {% csrf_token %}
            {{friend_form}}
            <br>
            <button type="submit" class="btn btn-default">Add Friend</button>
          </form>
        </div>
    </section>

    <section name = "my-friends" id="my-friends">
      <div class="container">
        <h2 class="list-friend-title"><b>List Friend</b></h2>
        <div class="flex">

        {% for i in friend %}

          <div class="flex-item">
            <div class="one-friend">
              <div class="friends-name">
                {{i.name}}
              </div>
              <div class="friends-photo">
                <img src="https://i.imgur.com/0mkAQ84.png" alt="user" width="135" height="135" class="img-circle"/>
              </div>
              <div class="friends-url">
                <a href={{i.url}}>{{i.url}} </a>
              </div>
              <div class="date-added">
                <i> Added {{i.date|date:"j N o H:i:s"}} </i>
              </div>
            </div>
          </div>
        
        {% endfor %}

    </div>
    </div>
    </section>
    </font>
    </body>
    <footer>
    <!-- TODO Block Footer dan include footer.html -->
    {% block footer %}
    {% include "dashboard/partials/footer.html" %}
    {% endblock %}
  </footer>
    </html>