{% extends "tugas_profile/layout/base.html" %}
{% block content %}
{% load static %}

<center>
<img id="profile" src={{pp}}/>
</center>
<h3 style="text-align: center; font-weight: bold">{{ name }}</h3>
<table align="center" >
    {% for bio in bio_dict %}
        <tr>
            <td class="subject">{{ bio.subject }}</td>
			{% if bio.subject == 'Expertise' %}
			<td class="value">
			{% for str in bio.value %}
			<span id="expertise">{{ str }}</span>
			{% endfor %}
			</td>
			{% else %} <td class="value">{{ bio.value }}</td>
			{% endif %}
        </tr>
    {% endfor %}
</table>
<br><br>
{% endblock %}
