{% extends "tugas_profile/layout/base.html" %}
{% block content %}
{% load static %}
<style>
.textcol {
    color: white;
    font-size: 24px;
    text-align: center;
}
.textcol2 {
    color: #2B314C;
    font-size: 28px;
    text-align: center;
    text-decoration: bold;
}
textarea {
    resize:none
}

/* animasi colorchange */
@-webkit-keyframes colorchange {
    0% {
        -webkit-text-stroke: 5px #0fb8ad;
    letter-spacing: 0;
    }
  50% {
    -webkit-text-stroke: 7.5px  #1fc8db;
  }
    100% {
        -webkit-text-stroke: 10px  #2cb5e8;
    letter-spacing: 18px;
    }
}
/* styling wrapper form */
#input-list{
  background: linear-gradient(to bottom right, #606062, #393939);
}
/* styling form */
#input-list form{
  width: 400px;
  margin: 50px auto;
  text-align: center;
  position: relative;
  z-index: 1;
  background: #2B314C;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  position: relative;
}
/* styling judul form, apakah arti dari tanda '>' ? */
#input-list form > h2{
  font-size: 1.3em;
  text-transform: uppercase;
  color: white;
  margin-bottom: 10px;
}
/* styling form input dan textarea, apakah arti dari tanda ',' ? */
#input-list form > .status-form-input, #input-list form > .status-form-textarea{
  padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 90%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 13px;
}
@media only screen and (max-width: 768px) {
  #input-list form {
      width: 290px;
  }
}

#input-list{
  background: #2B314C;
}
#input-list form{
  width: 100%;
  margin: 10px auto;
  text-align: center;
  position: relative;
  z-index: 1;
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  position: relative;
}
#input-list form:hover{
  -webkit-box-shadow: 0 12px 25px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 12px 25px 10px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 12px 25px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 12px 25px 10px rgba(0, 0, 0, 0.2);
  -webkit-transform:translate(0, -5px);
  -moz-transform:translate(0, -5px);
  -o-transform:translate(0, -5px);
  transform:translate(0, -5px);
}
#input-list form > h2{
  font-size: 1.3em;
  text-transform: uppercase;
  color: #2C3E50;
  margin-bottom: 10px;
}
#input-list form > .status-form-input, #input-list form > .status-form-textarea{
  padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 13px;
}
#my-status{
  background: #2B314C;
}
.status-list{
  text-align: left;
  padding-top: 5px;
  padding-left: 10px;
  /*ubah ini */
  background: white;
  position: relative;
  z-index: 15;
  margin-bottom: 30px;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  color: black;
}
.status-list:after{
    content:"";
    display:block;
    height:20px;
    /* ubah ini */
    background:white;
}
.flex{
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  margin-right: -15px;
  margin-left: -15px;
}
.flex-item{
  padding: 0 0px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 100%;
  width: 100%;
}
.img-circle {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-right: 10px;
}
@media all and (max-width: 768px) {
.flex-item {flex-basis:100%}
}
</style>
<body>
<center>
<img id="profile" src= {{pp}} />
</center>
<h3 style="text-align: center;font-weight: bold">{{name}}</h3>
<h3 style="font-size: 20px;text-align: center;"><span style="font-weight: bold">Friends</span> {{ friend }}
	<span style="padding-left: 180px; font-weight: bold">Feed</span> {{ feed }} post</h3>
<br><br>
<h3 style="font-weight: bold; margin-left: 80px;">Latest Post</h3>
<br>
{% if status %}
    {% for data in status %}
        <div class="flex-item" style="margin-left: 80px;">
            <div class="status-list">
            <div>
            <h4><img class="img-circle" src="https://images.8tracks.com/cover/i/009/677/418/Sawada.Tsunayoshi.full.1023723-7467.jpg?rect=0,58,651,651&q=98&fm=jpg&fit=max&w=320&h=320" align="left" alt = "Me">Sawada Tsunayoshi</h4>
            </div>
            <div class="status-list-status">
                    {{data.description}}
                </div>
            <div class="status-list-date-added">
                    {{data.created_date| date:"d M Y H:i:s"}}
                </div>
            </div>
        </div>
    {% endfor %}
{% else %}
<div class="alert alert-danger text-center">
<strong>Oops!</strong> Tidak ada status :v
</div>
{% endif %}
</body>
{% endblock %}
