.form-control-made {
  margin: 0 auto;
  padding: 0.5rem 0.75rem;
  font-size: 1.5rem;
  color: #495057;
  border-radius: 1rem;
  line-height: 1.5;
  width: 68%;
  margin-bottom: 20px;
  margin-left: 2%;
}

label{
  font-size: 20px;
  font-family: monospace;
  width: 20%;
  text-align: right;
  display: inline-block;
}

.btn{
  margin-left: 77%;
  font-size: 15px;
}

#sec1 {
  background: linear-gradient(180deg, #2B314C 70%);
}

#my-friends{
  background: linear-gradient(180deg, #2B314C 20%, #3d466d 45%, #47517d 55%);
}

h2 {
  font-size: 40px;
  margin-bottom: 1em;
  color: white;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  text-align: center;
}

.one-friend{
  text-align: center;
  background: #fff;
  position: relative;
  z-index: 15;
  margin-bottom: 60px;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.one-friend:after{
    content:"";
    display:block;
    height:25px; /* Which is the padding of div.container */
    background: #fff;
}

.flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  margin-right: -15px;
  margin-left: -15px;
}

.flex-item{
  padding: 0 15px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 25%;
}

.one-friend .friends-name {
  font-size: 20px;
  font-weight: 700;
  padding: 10px 10px 0;
  color: #021c1e;
}

.one-friend .friends-photo {
  padding: 10px 10px 0;
  padding-bottom: 15px;
}

.one-friend .date-added {
  font-size: 12px;
  padding: 0 10px;
  color: #577270;
}
.one-friend .friends-url {
  padding: 10px 25px;
  z-index: 15;
  background: #fff;
  height: 40px;
  text-align: center;
  overflow: auto;
}

.img-circle{
  border-radius: 10%;
}

.one-friend:hover {
  opacity: 0.8;
  transition:all 0.25s ease;
}

/*@media screen and (max-width: 767px) {
  #add_friend form {
      width: 32px;
  }

  }
  .flex-item{
    padding: 0 15px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
  }
}*/