{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="TUGAS 1">
    <meta name="author" content="{{author}}">
    <!-- bootstrap csss -->
    <title>
        {% block title %} LingIn {% endblock %}
    </title>
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'css/tugas_profile.css' %}" />
</head>

<body>
    <header>
        {% include "tugas_profile/partials/header.html" %}
    </header>
    <content>
            {% block content %}
                <!-- content goes here -->
            {% endblock %}
    </content>
    <footer>
        <!-- TODO Block Footer dan include footer.html -->
        {% block footer %}
        {% include "tugas_profile/partials/footer.html" %}
        {% endblock %}
    </footer>
</body>
</html>
